body {
    background-color: #f8f9f8 !important;
}

.card {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

/*Navigation bar CSS*/
#navbar {
    position: sticky;
    top: 0;
}

.navbar {
    background-color: #f8f9fa;
    font-size: 2rem !important;
    font-weight: bold !important;
    font-family: helvetica, serif !important;
    padding: 0 0 0 10px !important;
}

/* Change the color of the text on the navbar links */
.navbar-nav li a {
    color: #212529 !important;
}

/* Change the background color of the active navbar link */
.navbar-nav li.active a {
    background-color: #6c757d !important;
    color: #fff !important;
}

/* Change the color of the text on the headings */
h1, h2, h3, h5, h6 {
    color: #212529 !important;
}

/* Change the color of the text on the body */
p, li {
    color: #495057 !important;
}


.footer {
    position: absolute !important;
    margin: 0 0 100px 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #f8f9fa !important;
    padding: 0 0 1000px 0;
!important;
    text-align: center !important;
    color: #212529 !important;
}

.footer p {
    margin-top: 50px !important;
}

